:root {
  --navbar-green: #84c225;
  --navbar-mobile-top-height: 40px;
  --signup-login-modal-input-height: 510px;
  --signup-login-modal-input-width: 355px;
}

:disabled {
  opacity: 0.5;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Figtree", sans-serif;
}

#desktop-nav {
  display: none;
}

/* ****** MOBILE NAV: START ************ */

#mobile-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--navbar-green);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

#mobile-nav > div:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 6px;
  margin-top: 10px; */
  height: var(--navbar-mobile-top-height);
}

#mobile-nav > div:first-child > a {
  text-decoration: none;
}

#mobile-nav > div:first-child > a:last-child {
  position: relative;
}

#mobile-nav > div:first-child > a:last-child > span {
  position: absolute;
  top: -5px;
  right: -20px;
  font-size: 12px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  font-weight: bold;
}

#mobile-nav > div:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-nav div > input {
  border: none;
  padding: 5px;
}

#mobile-nav div > input:focus-visible {
  border: none;
  outline: 0px;
}

.search-bar-mobile {
  background-color: #fff;
  margin: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-bar-mobile > svg {
  padding: 6px 12px;
}

#mobile-nav .search-bar-mobile > input {
  width: 100%;
  padding-left: 12px;
}

/* ****** MOBILE NAV: END ************ */

/* ****** SIDEBAR MOBILE: START ************ */

.plus_icon,
.minus_icon {
  cursor: pointer;
  width: 12px;
  height: 15px;
}

#sidebar-mobile {
  left: -300px;
  height: 100%;
  border-right: 1px solid black;
  z-index: 99999;
}

#cover-section {
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 999;
}

#sidebar-mobile {
  position: fixed;
  top: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
}

#sidebar-mobile > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-green);
  height: var(--navbar-mobile-top-height);
  padding: 2px 10px;
}

#sidebar-mobile > div:first-child > button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
}

#sidebar-mobile > div:first-child > h2 {
  margin: 0px;
  color: #fff;
  font-size: 18px;
}

#sidebar-mobile > div:last-child {
  background-color: #fff;
  flex: 1;
}

#sidebar-mobile > div:last-child > h3 {
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding: 8px;
  color: #333333;
  border-bottom: 1px solid #b6b6b6;
}

#sidebar-menu > div {
  border-bottom: 1px solid #b6b6b6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}

#sidebar-menu > div > img {
  width: 12px;
  height: 15px;
  cursor: pointer;
}

@keyframes slidein {
  from {
    left: -300px;
  }

  to {
    left: 0px;
  }
}

@keyframes slideout {
  from {
    left: 0px;
  }

  to {
    left: -300px;
  }
}

/* ****** SIDEBAR MOBILE: END ************ */

/* ****** LOGIN SIGN-UP MODAL MOBILE: START ************ */

#sign-up-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 113px;
}

#sign-up-login > div:first-child {
  width: var(--signup-login-modal-input-width);
  min-height: var(--signup-login-modal-input-height);
  height: auto;
  background-color: #fff;
  position: relative;
  z-index: 4;
  box-shadow: 0 0 36px 0 rgba(141, 135, 135, 0.58);
}

#sign-up-login > div:nth-child(2) {
  width: 280px;
  height: 440px;
  background-color: #fff;
  position: relative;
  z-index: 3;
}

#sign-up-login > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  background-color: #696969;
  border-radius: 50%;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

#sign-up-login > div:first-child > #login-signup {
  display: flex;
  background-color: #fff;
  width: 100%;
  min-height: var(--signup-login-modal-input-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#login-signup > h3 {
  color: rgb(132, 194, 37);
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  font-weight: 600;
  margin-top: 30px;
}

#login-signup > div {
  width: 295px;
}

#login-signup > div > input {
  width: 100%;
  border: none;
  color: #444;
  border-bottom: 1px solid #dedede;
  padding: 5px 5px;
}

#login-signup > div > input:focus {
  outline: 0;
  border-bottom: 2px solid #84c225;
}

#login-signup > div:last-child > p {
  color: #979797;
  font-size: 10px;
  text-align: center;
}

#login-signup > div:last-child > p > a {
  color: #518ef8;
  text-decoration: none;
}

#login-signup > div:last-child > button {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  font-weight: bold;
}

#login-signup > div:last-child > button:nth-child(1) {
  border: 1px solid #666666;
  color: #333;
  background-color: #fff;
  font-size: 14px;
}

#login-signup > div:last-child > button:nth-child(2) {
  width: 100%;
  margin-top: 20px;
  background-color: #84c225;
  color: #fff;
  font-size: 16px;
  border: none;
}

/* ****** LOGIN SIGN-UP MODAL MOBILE: END ************ */

@media (min-width: 992px) {
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    display: flex;
  }
  #sidebar-mobile {
    display: none;
  }
  .only-mobile {
    display: none;
  }
}
